header {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0;
}

.bg-active {
    background-color: palegreen;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#field {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;

    .cell {
        width: calc(100% / 10);
        aspect-ratio: 1;
        flex-shrink: 0;
        border: 1px solid;
    }
}


.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}


span {
    display: none;
}

#game-over {
    display: none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
}